{% set message = this.session.message() %}
<div class="span4">
    {% if message %}
        <div class="alert">{{ message }}</div>
    {% endif %}
    {{ this.form.create(null, {'class':'form-horizontal'}) }}

    <legend>Login</legend>
    <div class="control-group">
        {{ this.form.field('email') }}
    </div>
    <div class="control-group">
        {{ this.form.field('password',{'type':'password'}) }}
    </div>
    <div class="control-group">
        {{ this.form.submit('Login', {'class':'btn'}) }}
    </div>

    {{ this.form.end() }}
</div>